.person-container {
  position: relative;
  color: var(--secondary-color);
  width: 180px;
  height: 220px;
  margin: 0.5rem;
  background-color: var(--third-color);
  transition: background 0.3s ease;
  text-align: center;
  border-radius: 5px;
  box-shadow: 6px 10px 5px 0px rgba(156, 156, 156, 1);
  cursor: pointer;
}

.person-container:hover {
  background-color: var(--secondary-color);
  color: white;
  box-shadow: 8px 12px 7px 0px rgba(156, 156, 156, 1);
}

.person-container .photo {
  margin: 1rem;
  border-radius: 3px;
}

.person-container .flag {
  position: absolute;
  top: 110px;
  right: 16px;
}

.person-container .name {

  font-family: PT Sans;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-transform: capitalize;
}