@import './colors.css';
@import './navbar.css';
@import './figure.css';
@import './modal.css';

body {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;

}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.content-wrapper {
  padding-top: 120px;
  transition: filter, ease-out, 0.5s;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.page-wrapper .content-wrapper .main-title {
  padding: 0px;
}

.content-wrapper>article {
  width: 90%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.content-wrapper h1 {
  padding: 0 48px;
}

.grid-container {
  margin: 2rem auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}